/* src/layouts/Layout.astro o global.css */
@import "tailwindcss";
/* Outfit (Títulos modernos) + Inter (Lectura perfecta) */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Outfit:wght@400;500;700&family=Inter:wght@300;400;500;700&display=swap');
@theme {
  /* Paleta Profesional */
  --color-primary: #0B1120;      /* Azul Noche (Fondo) */
  --color-surface: #151F32;      /* Azul Secundario (Tarjetas) */
  --color-text-main: #FFFFFF;    /* Blanco Puro */
  --color-text-muted: #94A3B8;   /* Gris Claro (Textos secundarios) */
  --color-accent: #2563EB;       /* Azul Corporativo (Acción) */
  --color-accent-dark: #1D4ED8;
  --color-silver-metallic: #C0C0C0; 
  --color-silver-gradient: linear-gradient(135deg, #E2E8F0 0%, #94A3B8 100%);
  
  --font-serif-logo: "Cinzel", serif; /* Nueva fuente para el logo */
  --font-title: "Outfit", sans-serif;
  --font-body: "Inter", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-primary);
    color: var(--color-text-main);
    font-family: var(--font-body);
    /* Fondo sutil para romper la planitud */
    background-image: radial-gradient(circle at top right, #1e293b 0%, transparent 40%);
  }
  
  h1, h2, h3, h4 {
    font-family: var(--font-title);
  }
}